#songrowprogress levelbar .empty {
  background-color: rgba(0,0,0,0);
  border-bottom-color: rgba(0,0,0,0);
  border-top-color: rgba(0,0,0,0);
  border-left-color: rgba(0,0,0,0);
  border-right-color: rgba(0,0,0,0);
}

#songrowprogress levelbar .filled {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

row {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#pageplayer label {
  font-size: 150%;
}
